<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login CINEMATIC</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div class="center-h1">
  <h1>CINEMATIC</h1>
</div>
<div class="center-form">
  <form>
    <label for="username"><b>Username</b></label><br>
    <input type="text" name="username" required><br>

    <label for="password"><b>Password</b></label><br>
    <input type="password"  name="passworde" required><br>

    <button type="submit"><b>Log in</b></button>
  </form>
</div>
</body>
</html>
